<% provide(:title, "About") %>
<h1>StaticPages#about</h1>
<p>Visit Us.</p>
<p>ADDRESSS</p>
<p>West Ireland Cycling,</p>
<p>Unit 1,</p>
<p>Bridgewater Court (Beside Monroe’s Pub),</p>
<p>Fairhill Rd Lower,</p>
<p>The Claddagh, Galway</p>
