<% provide(:title, "Help") %>
<h1>StaticPages#help</h1>
<p><h1>Let’s Talk</h1></p>
<h2>CONTACT DETAILS</h2>
<p>Tours: +353 87 2056904</p>

<p>Repairs: +353 87 1768480</p>

<p>Email: x16142306@student.ncirl.ie</p>
